body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #0f172a;
	color: #e2e8f0;
}

h2 {
	color: #38bdf8;
}

a {
	color: #38bdf8;
}

.navigationbar {
	background-color: #1e293b;
	text-align: center;
	padding: 20px;
}

.navigationbar a {
	color: #e2e8f0;
	font-weight: bold;
	font-size: 16px;
}

.navigationbar a:hover {
	color: #38bdf8;
}

.personal_info {
	padding: 30px;
	background-color: #1e293b;
	border-radius: 12px;
	margin: 40px;
	padding: 30px;
}

.skills {
	display: inline-block;
	text-align: center;
	margin: 15px;
	font-weight: bold;
}

.html {
	background-color: #e34c26;
}

.html:hover {
	box-shadow: #e34c26;
}

.css {
	box-shadow: #264de4;
}

.css:hover {
	box-shadow: #264de4;
}

.javascript {
	background-color: #f0db4f;
}

.javascript:hover {
	box-shadow: #f0db4f;
}

.python {
	background-color: #3776ab;
}

.python:hover {
	box-shadow: #3776ab;
}

.git {
	background-color: #f97316;
}

.git:hover {
	box-shadow: #f97316;
}

.sql {
	background-color: #9333ea;
}

.sql:hover {
	box-shadow: #933ea;
}

.projects-grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.project-card {
	background-color: #334155;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 30px;
}

.project-image {
	background-color: #475569;
	height: 150px;
	margin: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
}

.project-description {
	background-color: #1e293b;
	padding: 10px;
	border-radius: 6px;
}

.button {
	display: inline-block;
	padding: 20px;
	background-color: #38bdf8;
	color: black;
	border-radius: 6px;
	font-weight: bold;
}

.button:hover {
	background-color: #0ea5e9;
}
